# Tuples

# constructing tuples

In [1]:
t=(1,2,3)
t

(1, 2, 3)

In [2]:
type(t)

tuple

In [3]:
l=list(t)
l

[1, 2, 3]

In [21]:
l.append(4)

In [22]:
l

[1, 2, 3, 4]

In [23]:
type(l)

list

In [24]:
tuple(l)

(1, 2, 3, 4)

In [25]:
len(l)

4

In [26]:
t=("one",2,3.3)
t

('one', 2, 3.3)

In [27]:
t[0]

'one'

In [28]:
t[-1]

3.3

In [29]:
t

('one', 2, 3.3)

In [30]:
t.index("one")

0

In [31]:
list(t)

['one', 2, 3.3]

In [32]:
t.index(3.3)

2

In [33]:
tuple(t)

('one', 2, 3.3)

In [34]:
t.count(2)

1

In [35]:
t.append

AttributeError: 'tuple' object has no attribute 'append'

# Dictionary

# constructing a dictionary

In [36]:
my_dict={"key1":'value1',"key2":'value2'}
my_dict["key2"]

'value2'

In [37]:
my_dict={'key1':123,'key2':[12,23,33],'key3':['item0','item1','item3']}
my_dict['key3']

['item0', 'item1', 'item3']

In [38]:
my_dict['key3'][0]

'item0'

In [39]:
my_dict['key3'][0].upper()

'ITEM0'

In [40]:
my_dict['key3'][0].lower()

'item0'

In [41]:
my_dict['key1']

123

In [42]:
l1=my_dict['key1']-123
l1

0

In [45]:
my_dict['key1']+=123

In [46]:
my_dict['key1']

123

In [47]:
my_dict['key1']-=123

In [48]:
my_dict['key1']

0

In [49]:
d={}

In [52]:
type(d)

dict

In [53]:
d['aniaml']='dog'

In [54]:
d

{'aniaml': 'dog'}

In [55]:
d['answer']=[42,34,56,78,9]

In [56]:
d.keys()

dict_keys(['aniaml', 'answer'])

In [57]:
d.values()

dict_values(['dog', [42, 34, 56, 78, 9]])

In [58]:
dict={'animal':'dog','answer':[42,34,56,78,9]}

In [59]:
dict

{'animal': 'dog', 'answer': [42, 34, 56, 78, 9]}

In [60]:
dict.keys()

dict_keys(['animal', 'answer'])

In [61]:
dict.values()

dict_values(['dog', [42, 34, 56, 78, 9]])

In [62]:
dict.items()

dict_items([('animal', 'dog'), ('answer', [42, 34, 56, 78, 9])])

# Break and continue statement

In [63]:
numbers = [2,4,5,7,8]
for val in numbers:
    if val == 5:
        break
        
    print(val)

2
4

In [64]:
city=["bangaluru","delhi","noida","hyderabaad","mumbai"]
for val in city:
    if val == "hyderabaad":
        break
    print(val)

bangaluru
delhi
noida

In [65]:
city=["bangaluru","delhi","noida","hyderabaad","mumbai"]
for val in city:
    if val == "hyderabaad":
        continue
    print(val)

bangaluru
delhi
noida
mumbai

In [66]:
numbers = [2,4,5,7,8]
for val in numbers:
    if val == 5:
        continue
    print(val)
print("The end")

2
4
7
8
The end

# The Range() Function

In [67]:
print(range(10))

range(0, 10)

In [68]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
print(list(range(0,20,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [71]:
print(list(range(100.5,1601.8,100.1)))

TypeError: 'float' object cannot be interpreted as an integer

# Function

In [72]:
def say_hello():
    print('hello')

In [73]:
say_hello()

hello

In [51]:
def greeting(name):
    print('hello %s' % name)

In [52]:
greeting('jose')

hello jose

# Addition function

In [53]:
def add_num(num1,num2,num3):
    return num1+num2+num3
add_num(4,5,7)

16

In [54]:
result=add_num(2,3,4)
print(result)

9

In [56]:
print(add_num ('one', 'two', 'three'))

onetwothree

In [57]:
print(add_num(1003233243,32442,342556765785656))

342557769051341

In [67]:
def is_prime(num):
    '''
    new method of checking for primes
    '''
    for n in range(2,num):
        if num%n==0:
            print('not prime')
            break
    else:
        print("prime")

In [71]:
is_prime(11)

prime