In [1]:
import math
def is_prime(num):
    '''a better method of checking for primes
    '''
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num % i == 0:
            return False
    return True

In [2]:
is_prime(11)

True

# Lambda function

In [3]:
lambda argument : expression

In [4]:
x = lambda y : y+30
print(x(5))

35

Multiple argument

In [5]:
x = lambda a,b : a*b
print(x(15,20))

300

In [6]:
x = lambda a,b,c:a+b+c
print(x(7,6,9))

22

# map()

In [7]:
def fahrenheit(T):
    return((float(9)/5)*T+32)

def celsius(T):
    return(float(5)/9)*(T-32)

temp=[0,22.5,40,100]

In [8]:
f_temps = list(map(fahrenheit,temp))
f_temps

[32.0, 72.5, 104.0, 212.0]

In [9]:
list(map(celsius,f_temps))

[0.0, 22.5, 40.0, 100.0]

In [10]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]
list (map(lambda x,y:x+y,b,c))

[14, 16, 18, 20]

# Filter

In [11]:
def even_check(num):
    if num%2==0:
        return True

In [12]:
ist = range(40)
list(filter(even_check,ist))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [13]:
list(filter(lambda x:x%2==0,ist))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

# Database Management system (DBMS)

In [14]:
import mysql.connector

In [15]:
mydb = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "8743048234"
      )
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B66D7778B0>

In [17]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE database8")

DatabaseError: 1007 (HY000): Can't create database 'database8'; database exists

In [20]:
mydb = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "8743048234",
     database = "database8"
      )
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE marks(Gender VARCHAR(6),Student_id integer(10),Marks integer(3))")

In [21]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('marks',)

In [24]:
mydb = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "8743048234",
     database = "database8"
      )
mycursor = mydb.cursor()
sql="insert into marks(Gender,Student_id,Marks)values('male',10657501,45)"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,"record inseted")

1 record inseted

In [32]:
mydb = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "8743048234",
     database = "database8"
      )
mycursor = mydb.cursor()
sql = "insert into marks(Gender,Student_id,Marks)values('male',10657502,35),('female',10657503,36),('female',10657504,37)"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,"record insertion")

3 record insertion

In [45]:
sql = "insert into marks(Gender,Student_id,Marks) values(%s,%s,%s)"
val = (("male",10657505,55),("female",10657506,38),("male",10657509,39))
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"record insertion")

3 record insertion

In [46]:
mydb = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "8743048234",
     database = "database8"
      )
mycursor = mydb.cursor()
mycursor.execute("select*from marks")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('male', 10657501, 45)
('male', 10657502, 35)
('feamle', 10657503, 36)
('female', 10657504, 37)
('male', 10657502, 35)
('female', 10657503, 36)
('female', 10657504, 37)
('male', 10657505, 55)
('female', 10657506, 38)
('male', 10657509, 39)