In [102]:
import mysql.connector
mydb=mysql.connector.connect(
     host="localhost",
     user="root",
     password="8743048234",
     database="database8")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020CAE9E9B50>

# selecting based on condition

In [103]:
mycursor=mydb.cursor()
sql="select distinct*from marks WHERE Student_id=10657502"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('male', 10657502, 35)

# selecting on column

In [104]:
sql="select * from marks order by marks desc"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('male', 10657505, 100)
('male', 10657501, 45)
('male', 10657509, 39)
('female', 10657506, 38)
('female', 10657504, 37)
('female', 10657504, 37)
('feamle', 10657503, 36)
('female', 10657503, 36)
('male', 10657502, 35)
('male', 10657502, 35)

# update table

In [105]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
sql="UPDATE marks SET marks=100 where Student_id=10657505"
mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount,"record (s)affected")

0 record (s)affected

In [106]:
sql="select * from marks order by marks "
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('male', 10657502, 35)
('male', 10657502, 35)
('feamle', 10657503, 36)
('female', 10657503, 36)
('female', 10657504, 37)
('female', 10657504, 37)
('female', 10657506, 38)
('male', 10657509, 39)
('male', 10657501, 45)
('male', 10657505, 100)

# SORT
     ascending and descending

In [107]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")

mycursor=mydb.cursor()
sql="select * FROM marks ORDER by marks desc"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('male', 10657505, 100)
('male', 10657501, 45)
('male', 10657509, 39)
('female', 10657506, 38)
('female', 10657504, 37)
('female', 10657504, 37)
('feamle', 10657503, 36)
('female', 10657503, 36)
('male', 10657502, 35)
('male', 10657502, 35)

In [108]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234")
mycursor=mydb.cursor()
mycursor.execute("create database database1")
for x in mycursor:
    print(x)

# How to Drop database

In [109]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234")
mycursor=mydb.cursor()
sql="DROP DATABASE database1"
mycursor.execute(sql)

In [110]:
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('database4',)
('database6',)
('database8',)
('information_schema',)
('mysql',)
('new_schema',)
('performance_schema',)
('students',)
('sys',)

In [111]:
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('marks',)
('student',)

In [112]:
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
sql="DROP TABLE student"
mycursor.execute(sql)
for x in mycursor:
    print(x)

In [134]:
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE students(student_id INTEGER(10),name VARCHAR(10))")

In [135]:
mycursor=mydb.cursor()
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('marks',)
('student',)
('students',)

In [122]:
import mysql.connector

In [138]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
sql="INSERT INTO students (student_id,name) VALUES (10657501,'ajay'),(10657502,'rakesh'),(10657503,'neeraj')"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount)

3

In [124]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
mycursor.execute("select * from marks")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('male', 10657501, 45)
('male', 10657502, 35)
('feamle', 10657503, 36)
('female', 10657504, 37)
('male', 10657502, 35)
('female', 10657503, 36)
('female', 10657504, 37)
('male', 10657505, 100)
('female', 10657506, 38)
('male', 10657509, 39)

In [139]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
mycursor=mydb.cursor()
mycursor.execute("select * from students")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(10657501, 'ajay')
(10657502, 'rakesh')
(10657503, 'neeraj')

In [140]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234")

mycursor=mydb.cursor()
mycursor.execute("Create database database4")
for x in mycursor:
    print(x)

DatabaseError: 1007 (HY000): Can't create database 'database4'; database exists

In [150]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
sql="SELECT students.student_id,students.name,marks.Gender,marks.Marks FROM students INNER JOIN marks ON students.student_id=marks.student_id"
mycursor.execute(sql)
myresult=mycursor.fatchall()
for x in myresult:
    print(x)

ProgrammingError: 1046 (3D000): No database selected

In [151]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="8743048234",
database="database8")
sql="SELECT students.student_id,students.name,marks.Gender,marks.Marks FROM students INNER JOIN marks ON students.student_id=marks.student_id"
mycursor.execute(sql)
myresult=mycursor.fatchall()
for x in myresult:
    print(x)

ProgrammingError: 1046 (3D000): No database selected